extends layout

block content

  link(href="/ng-cms/styles.3cba179e245f91f630df.css")

  app-root

  script(src='/ng-cms/runtime.a5dd35324ddfd942bef1.js')
  script(src='es2015-polyfills.5eb5e9de9e7e4b86bc47.js' nomodule)
  script(src='/ng-cms/polyfills.46532d96d3286697c138.js')
  script(src='/ng-cms/main.e752dc75baff379298b0.js')
